body{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
    color:#575757;
    background-color:#f7f7f7;
}

html, body { height: 99.5%; } section#wrapper { height: auto !important; margin: 0 auto -25px; min-height: 99.5%; position: relative; } section#push { clear: both; height: 25px;} footer { bottom: 0px; position: relative; width: 100%; height: 25px;} .break { clear: both; }
    
*{
    margin:0;
    padding: 0;
}

#wrapper { 
    margin-top: 0;
    width:100%;
    overflow: hidden;
}

.liquid {
    width: 100%;
    display: block;
}
    
.liquid > img {
    width: 100%;
    display: block;
}

#banner{
    top:0px;
    left:0px;
    width:100%;
    display: flex;
    flex-direction: column;

    background: -webkit-linear-gradient(to right, #c1de9e, #1db2ba);
	background: linear-gradient(to right, #c1de9e, #1db2ba);
}

.flex-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flex-box h1{
    margin-top:20px;
}

.top-bar{
    left: 0px;
    width: 100%;   
    top: 0px;
}

#logo{
    position: relative;
    width: 12%;    
    padding: 10px;    
    margin: 20px auto auto 80px;
}

#menu{
    margin-right:80px;
}

#menu span{
    cursor:pointer;
    font-size: 24px;    
    color: #fff;
    margin:10px;
}

#menu span i{
    color:#fff;
}

.banner-image{
    right: 0px;
    width: 100px;    
    margin: 0px 80px 80px 0px;  
    flex-grow: 3;
}

#banner-claim{
    width: 100px;
    flex-grow: 2;
    margin-left: 80px;
    color: #fff;
}

#banner-claim h1{
    font-size: 32px;
    font-weight: 800;
}

#banner-claim p{
    margin-top: 20px;
    font-size: 18px;
}

.wrapper{
    display: block;
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.wrapper h1{
    border-bottom: 1px #575757 solid;
    padding: 10px 0px;
}

.wrapper p{
    margin:20px 0px;
    font-size:18px;
}

.code-block{
    margin: 20px auto;
}

pre[class*="language-"]{
    max-height:20vh;
}

.preview-btn{
    background:#1db2ba;
    border:none;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform:uppercase;
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    margin:20px auto;
    display:flex;
    position: relative;
    overflow: hidden;
}

.preview-btn::before{
    content:'';
    top:-100%;
    left:0px;
    position: absolute;
    display:block;
    width:20px;
    height:20px;
    background:rgba(255,255,255, 0.4);
    border-radius: 25px;
    transition-duration: 0.4s;
}

.preview-btn::after{
    content:'>';
    font-weight: 800;
    margin-left:5px;
}

.preview-btn:hover::before {
    transform:scale(35);
}

#footer{
    position: relative;
    display: flex;    
    height: 200px;    
    overflow: hidden;    
    background: #1db2ba;    
    background: -webkit-linear-gradient(to right, #c1de9e, #1db2ba);   
    background: linear-gradient(to right, #c1de9e, #1db2ba);    
    margin-top: 100px;    
    align-items: center;    
    justify-content: center;
}

#footer p{
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}

.decor{
    background: #575757;
    position: absolute;    
    width: 110%;    
    height: 70%;   
    transform: rotate(-2deg);    
    left: -5%;    
    top: 18%;
}

